body{
    
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    font-weight:500;
}

input {
    font-family: 'Times New Roman', Times, serif;
}

.card {
    margin: 3rem;
}

thead {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

select {
    font-family: 'Times New Roman', Times, serif;
}

th {
    background-color: #5161b6;
    color: white;
    font-size: 16px;
}

td {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

button {
    font-family: 'Times New Roman', Times, serif;
}