mat-card-title {
    font-size: 1.5rem;
    color: brown;
  }
  
  mat-card {
    margin: 1%;
    padding: 1.5%;
    border: 1px solid rgb(40, 108, 197);
  }
  
  mat-form-field {
    width: 100%;
    border-radius: 17px;
  }
  table {
    th {
      margin: 0%;
      background-color: #3f51b5;
      color: white;
      border: 1px solid silver;
      text-align: center;
    }
  
    td {
      border: 1px solid silver;
    }
  
    tr:last-child {
      border-bottom: .3px solid silver;
  
    }
  }
  
  button {
    border-radius: 17px;
    cursor: progress;
    margin-top: 4%;
  }
  
  .search {
    width: 50%;
  }
  .mat-elevation-z8{
    overflow: auto;
  }