* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
}

.card {
    overflow-x: hidden;
    max-width: 100%;
    margin: 30px;
}

.row {
    margin: 0;
}

select {
    font-family: 'Times New Roman', Times, serif;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

th {
    text-align: center;
    background-color: #5161b6;
    color: white;
}

td {
    text-align: center;

}