h1 {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    // font-weight: 800;
    text-align: center;
    margin-top: 10px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

input {
    font-family: 'Times New Roman', Times, serif;
}

select,
option {
    font-family: 'Times New Roman', Times, serif;
}

th {
    font-family: 'Times New Roman', Times, serif;
    background-color: #5161b6;
    color: white;
    text-align: center;
    font-size: medium;
}

td {
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
}

ng-select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#button {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1.6rem;
    font-size: 18px;
}

@media (max-width:700px) {
    .custom-col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: -1.6rem;
    }

    .custom {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.card {
    margin: 20px;
}