<div class="container-fluid mt-4">
  <mat-card-title style="text-transform: uppercase;">Rejection Weighment - APPROVAL</mat-card-title>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="RejForm" (ngSubmit)="View()">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <label class="form-label">Approved By<span>*</span></label>
              <input type="text" class="form-control" formControlName="EmpName" readonly>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <button mat-raised-button class="viewbtn" style="margin-right: 3%;" type="submit"
                color="primary">View</button>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </form>
        <p-table [value]="MaterialArr" dataKey="code"
          [tableStyle]="{'min-width': '50rem'}" [rowHover]="true" [rows]="5" [showCurrentPageReport]="true"
          [paginator]="true" currentPageReportTemplate="{first}  to  {last}  OF  [ {totalRecords} ] "
          [filterDelay]="0" paginatorPosition="top" *ngIf="ViewTabel">
          <ng-template pTemplate="header">
            <tr style="text-align: center;">
              <th class="tabelhead">TraNo</th>
              <th class="tabelhead">TranDate</th>
              <th class="tabelhead ">Supplier</th>
              <th class="tabelhead ">Material</th>
              <th class="tabelhead tabbtn">View</th>
              <th class="tabelhead tab">UOM</th>
              <th class="tabelhead  tab">GateEntryNo</th>
              <th class="tabelhead">VechileNo</th>
              <th class="tabelhead">LoadWeight</th>
              <th class="tabelhead">TareWeight</th>
              <th class="tabelhead tab">Netwt</th>
              <th class="tabelhead">Select<input type="checkbox" [(ngModel)]="selectAll" (change)="SelectAll()" /></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr>
              <td class="body ">{{product.Tranno}}</td>
              <td class="body date" >{{product.Trandate}}</td>
              <td class="body ">{{product.SupName}}</td>
              <td class="body ">{{product.RawMatName}}</td>
              <td class="body tabbtn" style="text-align: center;"><button mat-raised-button class="button" color="primary" type="button"
                (click)="ViewTabDet(i)" >View</button></td>
              <td class="body tab">{{product.uom}}</td>
              <td class="body tab" style="text-align: right; ">{{product.GateEntryNo}}</td>
              <td class="body" style="text-align: right;">{{product.VchNo}}</td>
              <td class="body" style="text-align: right;">{{product.LoadWght}}</td>
              <td class="body" style="text-align: right;">{{product.TareWeight}}</td>
              <td class="body tab" style="text-align: right;">{{product.Netwt}}</td>
              <td class="body" style="text-align: center;"><input type="checkbox" [(ngModel)]="product.selected"
                  (change)="RowSelect()" /></td>
            </tr>
          </ng-template>
        </p-table>
        <div class="modal-footer mt-3" *ngIf="ViewTabel">
          <button mat-raised-button type="button" class="button" style="background-color: green;color: white;"
            (click)="saveVaildation($event)">Approve</button>
          <button mat-raised-button type="button" style="margin-left: 2%;" class="button" color="warn"
            (click)="saveVaildation($event)">Reject</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button style="display: none;" data-bs-toggle="modal" data-bs-target="#View" #ViewinTab>view</button>
<div class="modal" id="View" data-bs-backdrop='static'>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header"
        style="font-size: large;color: brown;  background-color: rgb(214, 247, 247);font-weight: bold;"> Supplier Details
        <button type="button" class="btn-close btn btn-outline-danger" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <mat-card>
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  <label class="form-label">NetWeight</label>
                  <input type="text" class="form-control" [(ngModel)]="TabViewNetwt" readonly>
                </div>
                <div class="col-12">
                  <label class="form-label">Gate EntryNo</label>
                  <input type="text" class="form-control" [(ngModel)]="TabViewGateEntryNo" readonly>
                </div>
                <div class="col-6">
                  <label class="form-label">Uom</label>
                  <input type="text" class="form-control" [(ngModel)]="TabViewUOM" readonly>
                </div>
              </div>
            </mat-card-content>
            <div class="modal-footer">
              <button mat-raised-button class="btn" style="margin-right: 2%;" color="warn"
                data-bs-dismiss="modal">Close</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<button style="display: none;" data-bs-toggle="modal" data-bs-target="#apierrorD" #apierrorDialog></button>
<div class="modal" id="apierrorD" data-bs-backdrop='static'>
  <div class=" modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="font-size: medium;color: rgb(14, 13, 13);font-weight: bold;">Error!!!</div>
      <div class="modal-body">
        <h3>
          <p class="errorptag">
            {{this.apiErrorMsg}}</p>
        </h3>
      </div>
      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn m-2" color="warn" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<button style="display: none;" data-bs-toggle="modal" data-bs-target="#Savedialog" #Savechild></button>
<div class="modal" id="Savedialog" data-bs-backdrop='static'>
  <div class=" modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">SAVE:</div>
      <div class="modal-body" *ngIf="this.save =='Approve'">
        <h3>
          Do You Want To Approve The Data ?
        </h3>
      </div>
      <div class="modal-body" *ngIf="save =='Reject'">
        <h3 *ngIf="this.save ==='Reject'">
          Do You Want To Reject The Data ?
        </h3>
      </div>
      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn m-2" style="background-color: green;color: white;"
          data-bs-dismiss="modal" (click)="getSave()">Yes</button>
        <button mat-raised-button type="button" class="btn m-2" color="warn" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<button style="display: none;" id="Save" data-bs-toggle="modal" data-bs-target="#Saved"></button>
<div class="modal fade" id="Saved" data-bs-backdrop='static'>
  <div class=" modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">SAVE:</div>
      <div class="modal-body" style="margin-left: 1%;">
        <div style="font-size: medium;font-weight: 600;color: rgb(140, 232, 140);" *ngIf="this.Sts == 'Y'">
          {{Msg}}
        </div>
        <div style="font-size: medium;font-weight: 600;color: lightcoral" *ngIf="this.Sts == 'N'">
          {{Msg}}
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="this.Sts == 'Y'">
          <button mat-raised-button style="background-color: #92d87e;" type="button" data-bs-dismiss="modal"
            (click)="finalSave()">OK</button>
        </div>
        <div *ngIf="this.Sts == 'N'">
          <button mat-raised-button class="btn btn-secondary" style="background-color: rgb(247, 107, 75);" type="button"
            data-bs-dismiss="modal" (click)="savetimeerror()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
