<mat-card>
  <mat-card-header class="justify-content-center ">
    <mat-card-title style="color: brown;">Weighment Delay - Approval</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="WeighDelayForm" (ngSubmit)="View()">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
          <mat-form-field>
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="Supplier">
              <mat-option><ngx-mat-select-search [formControl]="filterControl" placeholderLabel="Search..."
                  noEntriesFoundLabel="No Results Found"></ngx-mat-select-search></mat-option>
              <mat-option *ngFor="let item of filteredOptions"
                [value]="item.SupplierId">{{item.SupplierName}}</mat-option>
            </mat-select>
            <mat-error>Field must be required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
          <button mat-raised-button class="mt-1" type="submit" color="primary">View</button>
          <button mat-raised-button type="button" class="button ml-3 mt-1" style="background-color: green;color: white;"
            (click)="saveVaildation()" [disabled]="Approvebtn">Approve</button>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </form>
    <div class="mat-elevation-z8 mt-4" [hidden]="dataSource.data.length ==0">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. search" #input>
      </mat-form-field>
      <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Select">
          <th mat-header-cell *matHeaderCellDef> <mat-checkbox [checked]="isAllSelected()"
              [indeterminate]="isIndeterminate()" (change)="toggleAllSelection($event)">
            </mat-checkbox> Select </th>
          <td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.selected" color="primary"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="TranNo" sticky>
          <th mat-header-cell *matHeaderCellDef> TranNo </th>
          <td mat-cell *matCellDef="let row"> {{row.tranno}} </td>
        </ng-container>
        <ng-container matColumnDef="TranDate">
          <th mat-header-cell *matHeaderCellDef> TranDate </th>
          <td mat-cell *matCellDef="let row"> {{row.TranDate}} </td>
        </ng-container>
        <ng-container matColumnDef="Supplier" sticky>
          <th mat-header-cell *matHeaderCellDef class="supp"> Supplier </th>
          <td mat-cell *matCellDef="let row" class="supp"> {{row.SupName}} </td>
        </ng-container>
        <ng-container matColumnDef="Emwgh">
          <th mat-header-cell *matHeaderCellDef> Em_wgh </th>
          <td mat-cell *matCellDef="let row"> {{row.column}} </td>
        </ng-container>
        <ng-container matColumnDef="Entry_Dt">
          <th mat-header-cell *matHeaderCellDef> Entry_Dt </th>
          <td mat-cell *matCellDef="let row"> {{row.emptydatetime}} </td>
        </ng-container>
        <ng-container matColumnDef="Lod_wgh">
          <th mat-header-cell *matHeaderCellDef> Lod_wgh </th>
          <td mat-cell *matCellDef="let row"> {{row.loadedweight}} </td>
        </ng-container>
        <ng-container matColumnDef="Lod_Dt">
          <th mat-header-cell *matHeaderCellDef> Lod_Dt </th>
          <td mat-cell *matCellDef="let row"> {{row.loadeddatetime}} </td>
        </ng-container>
        <ng-container matColumnDef="Vechno">
          <th mat-header-cell *matHeaderCellDef> Vechno </th>
          <td mat-cell *matCellDef="let row"> {{row.vehno}} </td>
        </ng-container>
        <ng-container matColumnDef="Reason">
          <th mat-header-cell *matHeaderCellDef> Reason </th>
          <td mat-cell *matCellDef="let row"> <textarea class="form-control" style="field-sizing: content;resize: none;"
              [(ngModel)]="row.lateapproalreason"></textarea> </td>
        </ng-container>
        <tr mat-header-row
          *matHeaderRowDef="['Select','TranNo','TranDate','Supplier','Emwgh','Entry_Dt','Lod_wgh','Lod_Dt','Vechno','Reason']">
        </tr>
        <tr mat-row
          *matRowDef="let row; columns: ['Select','TranNo','TranDate','Supplier','Emwgh','Entry_Dt','Lod_wgh','Lod_Dt','Vechno','Reason'];">
        </tr>
      </table>
      <mat-paginator [hidden]="dataSource.data.length ==0" #paginator [pageSizeOptions]="[8, 10, 20]"
        showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>