h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown
}

.card {
    margin: 30px
}
.card {
    margin: 30px
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    ;
    color: black;
    font-weight: 500;
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

th {
    background-color: #5161b6;
}

th {
    background-color:  #5161b6;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
    text-align: center;
}

td {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}
button {
    font-size: 18px;
}