h1 {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
}

.form-check-label {
    font-size: 18px;
    padding-left: 7px;
}

.form-check-input {
    border: 1px solid #5161b6;
}

th {
    background-color: #5161b6;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    color: red;
}