<h1 class="mt-2">Mail and Number Update</h1>
<div class="card">
    <div class="card-body">
        <div class="row g-3 align-items-center">
            <div class="col-md-3 col-6">
                <label class="form-label">Supplier</label>
                <input type="radio" name="type" class="form-check-input"
                    style="border: 2px solid #5161b6; margin-left:5px" [checked]="selectedType === 'supplier'"
                    (click)="toggleRadio('supplier', $event)" />
            </div>
            <div class="col-md-3 col-6">
                <label class="form-label">Subcontract</label>
                <input type="radio" name="type" class="form-check-input"
                    style="border: 2px solid #5161b6; margin-left:5px" [checked]="selectedType === 'subcontractor'"
                    (click)="toggleRadio('subcontractor', $event)" />
            </div>
            <div class="col-md-4 col-12">
                <label for="searchName">Search Name</label>
                <div class="d-flex gap-2">
                    <input type="text" id="searchName" class="form-control" [(ngModel)]="searchText" />
                    <button type="button" mat-raised-button style="background-color: #5161b6; color:white"
                        (click)="searchButtonClick()">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-12 d-flex align-items-center">
                    <input type="checkbox" id="inactive" (change)="inactive($event)" class="form-check-input me-2"
                        style="border: 1px solid #5161b6;;" />
                    <label for="inactive">Inactive</label>
                </div>
                <div class="col-md-4 col-12 d-flex align-items-center">
                    <button mat-raised-button style="background-color: #5161b6;color:white;"
                        (click)="view()">View</button>
                </div>
                <div class="col-md-4 col-12 d-flex align-items-center text-end">
                    <button mat-raised-button (click)="clear()"
                        style="background-color: red;color: white;">Clear</button>
                    <button mat-raised-button (click)="update()"
                        style="background-color: #5161b6;color: white;margin-left: 10px;">Update</button>
                </div>
            </div>
        </div>
        <div>
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered table-fixed"
                    style="width: 100%; table-layout: fixed; border: 1px solid #ddd;">
                    <thead style="position: sticky; top: 0; background-color: #fff; z-index: 1;">
                        <tr>
                            <th style="width: 100px;">Select</th>
                            <th style="width: 200px;">Supid</th>
                            <th style="width: 500px;">Supplier_Name</th>
                            <th style="width: 500px;">Address</th>
                            <th style="width: 300px;">Email</th>
                            <th style="width: 200px;">Mobile_No</th>
                            <th style="width: 200px;">PAN_No</th>
                            <th style="width: 200px;">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let table of tableArray">
                            <td style="width:100px">
                                <input type="checkbox" class="form-check-input" style="border: 1px solid #5161b6;"
                                    [checked]="selectedrowArray.includes(table.supid)"
                                    (change)="selectedrows($event, table)" />
                            </td>
                            <td style="width: 200px;">{{table.supid}}</td>
                            <td style="width: 500px;text-align: left;">{{table.supname}}</td>
                            <td style="width: 500px;text-align: left;">
                                <input type="text" class="form-control" [(ngModel)]="table.address"
                                    (ngModelChange)="handleInputChange(table)" />
                            </td>
                            <td style="width: 300px;text-align: left;">
                                <input type="email" class="form-control" [(ngModel)]="table.email"
                                    (ngModelChange)="handleInputChange(table)" />
                            </td>
                            <td style="width: 200px;">
                                <input type="text" class="form-control" [(ngModel)]="table.mobileno"
                                    (ngModelChange)="handleInputChange(table)" />
                            </td>
                            <td style="width: 200px;">
                                <input type="text" class="form-control" [(ngModel)]="table.panno"
                                    (ngModelChange)="handleInputChange(table)" />
                            </td>
                            <td style="width: 200px;">
                                <input type="text" class="form-control" [(ngModel)]="table.active"
                                    (ngModelChange)="handleInputChange(table)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>