h1 {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
}

.card {
    margin: 30px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

th {
    background-color: #5161b6;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
    text-align: center;
}

td {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}