<h1>Supplier Registration Approval - Purchase</h1>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <label>Approved By</label>
                <select class="form-select">
                    <option *ngFor="let load of loadArray" [value]="load.empid">{{ load.empname }}</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-12" style="visibility: hidden;">
                <label>Approved By</label>
                <select class="form-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>

    <div class="table-responsive px-3">
        <table class="table table-bordered table-hover w-100" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width: 200px;">Approve</th>
                    <th style="width: 200px;">Party_Code</th>
                    <th style="width: 300px;">Party_Name</th>
                    <th style="width: 500px;">Address</th>
                    <th style="width: 300px;">City</th>
                    <th style="width: 200px;">State</th>
                    <th style="width: 200px;">Country</th>
                    <th style="width: 200px;">Pin_Code</th>
                    <th style="width: 200px;">GST_No</th>
                    <th style="width: 200px;">CrDays</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let table of tableArray">
                    <td><input type="checkbox" class="form-check-input" (change)="select($event, table)"></td>
                    <td style="text-align: left;">{{ table.code }}</td>
                    <td style="text-align: left;">{{ table.name }}</td>
                    <td style="text-align: left;">{{ table.address }}</td>
                    <td style="text-align: left;">{{ table.AreaName }}</td>
                    <td style="text-align: left;">{{ table.StateName }}</td>
                    <td style="text-align: left;">{{ table.CountryName }}</td>
                    <td style="text-align: left;">{{ table.pincode }}</td>
                    <td>{{ table.gstno }}</td>
                    <td>{{ table.Creditperiod }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid mt-3">
        <div class="row g-3">
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Party Id</label>
                <input type="text" class="form-control" [(ngModel)]="partyid" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Supplier Code</label>
                <input type="text" class="form-control" [value]="suppliercode" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Supplier Name</label>
                <input type="text" class="form-control" [value]="suppliername" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Contact Person</label>
                <input type="text" class="form-control" [value]="contactperson" readonly>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Contact No</label>
                <input type="text" class="form-control" [value]="phonenumber" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">E-Mail</label>
                <input type="text" class="form-control" [value]="email" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Website</label>
                <input type="text" class="form-control" [value]="website" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Organisation Type</label>
                <input type="text" class="form-control" [value]="org_type" readonly>
            </div>

            <div class="col-md-2 col-sm-6 col-12">
                <label class="custom-label">Pan No</label>
                <input type="text" class="form-control" [value]="pannumber" readonly>
            </div>
            <div class="col-md-1 col-sm-6 col-12 d-flex align-items-end">
                <button mat-raised-button color="primary" (click)="viewPanCard()">View</button>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Establishment Year</label>
                <input type="text" class="form-control" [value]="establishment" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Executive Name</label>
                <input type="text" class="form-control" [value]="executivename" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Major Customer</label>
                <input type="text" class="form-control" [value]="majorname" readonly>
            </div>


            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Address</label>
                <input type="text" class="form-control" [value]="address" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Address Type</label>
                <input type="text" class="form-control" [value]="AddressProofType" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12" style="margin-top: 38px;">
                <button mat-raised-button color="primary" (click)="viewAddress()">View</button>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Country</label>
                <input type="text" class="form-control" [value]="CountryName" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">State</label>
                <input type="text" class="form-control" [value]="StateName" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Area/City</label>
                <input type="text" class="form-control" [value]="AreaName" readonly>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">PinCode</label>
                <input type="text" class="form-control" [value]="pincode" readonly>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label class="custom-label">Credit Period</label>
                <input type="text" class="form-control" [value]="Creditperiod" readonly>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="supcheck">
                    <label class="form-check-label">Supplier</label>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="subcheck">
                    <label class="form-check-label">Sub Contractor</label>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="cuscheck">
                    <label class="form-check-label">Customer</label>
                </div>
            </div>
        </div>

        <div class="row mt-4 text-end">
            <div class="col-12 d-flex justify-content-end flex-wrap gap-2">
                <button mat-raised-button style="background-color: green; color: white;"
                    (click)="approve()">Approve</button>
                <button mat-raised-button style="background-color: red; color: white;" (click)="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>