 * {
     font-family: 'Times New Roman', Times, serif;
     font-size: 17px;
 }

 h1 {
     font-family: 'Times New Roman', Times, serif;
     color: brown;
     text-align: center;
     margin-bottom: 20px;
 }

 .card {
     margin: 30px;
 }

 th,
 td {
     text-align: center;
     padding: 8px;
 }

 th {
     background-color: #5161b6;
     color: white;
 }

 .table-responsive {
     margin-top: 20px;
 }

 .row {
     margin-bottom: 15px;
 }

 .text-end {
     margin-bottom: 15px !important;
 }

 button {
     padding: 8px 15px;
     font-family: 'Times New Roman', Times, serif;
 }